.repository-list {
  margin: auto;
  max-width: 80%;

  table,
  td,
  th {
    border: 1px solid black;
    border-collapse: collapse;
  }

  td,
  th {
    text-align: center;
    padding: 5px 10px;
  }

  h1 {
    text-align: center;
  }
}

.filter-buttons {
  text-align: center;

  button {
    padding: 5px 10px;
    margin: 5px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
